
<div class="col-lg-3">
  <div class="add">
    <p class="handwritten">Make A Post</p>
    <form action='/addMessage' method='post' class="form">
      <input type='text' placeholder='Add Message' name='message' /><br><br>
      <input type='text' placeholder='Add Image' name='image' /><br><br>
      <input type='submit'/>

    </form>
    <p class="handwritten">Project By:</p><br>
    <p class="whitehandwritten">Alisa<br>
    Annelise<br>
    Simon<br>
    Zac<br>
    </p>
  </div>
</div>
