<div class="col-lg-3">
  <div class="add">
    <form action='/addMessage' method='post'>
      <input type='text' placeholder='Add Message' name='newMessage' />
      <input type='text' placeholder='Add Image' name='newImage' />
      <input type='submit'/>

    </form>
  </div>
</div>
