
<div class="col-lg-6">
  <div class="happywall">
    <ul>
      {{#each posts}}
        <p class="handwritten">{{message}}</p>
        <img class="resize" src="{{image}}">
      {{/each}}
    </ul>
  </div>
</div>
  {{>form}}
